<div class="image">


<div class="container">
  <div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
  <h2>Login Form</h2>
  <hr>
<form >
  <div class="form-group">
    <label for="text">User Name:</label>
    <input type="text" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>

  </div>
  <div class="form-group">
  <button type="login" class="btn btn-primary" (click)="login()">Login</button>
  </div>
</form>
</div>
<div class="col-md-4"></div>
</div>
</div>

</div>