body{
background-color: bisque;

}
.bg{
    background-color: aqua;
}
.image{
    height:40em; 
    background-size:cover;
    width:auto;
    background-image:url('/assets/College-HD.jpg');
    background-position:50% 50%;
  }