<div class="image">
</div>

<nav class="navbar navbar-expand-sm bg-dark fixed-top" >
    <a class="navbar-brand" href="#">
    <img src="/assets/logo.jpg" alt="Logo" style="width:60px;">
    </a>
    
    <!-- Links -->
  <ul class="navbar-nav">
    
    <li class="nav-item">
      <a class="nav-link" href="/registration">registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Activity">Activity</a>
      </li>
    
  </ul>


  <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" >
      <button class="btn btn-success btn-lg"  type="submit" >Search</button>
    </form>
  